.blue-box{
    -webkit-text-size-adjust: 100%;
  /* --vh: 6.7px; */
  /* color: #222; */
  /* font-size: 14px; */
  /* line-height: 1.4; */
  /* -webkit-font-smoothing: antialiased; */
  font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
  /* margin: 0; */
  /* box-sizing: inherit; */
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  position: absolute !important;
  background-color: #021631!important;
  height: 50%;
  /* line-height: 56px; */
  /* box-sizing: inherit; */
  
  /* padding-top: 25px; */
}

.blue-box .content p:first-child {
    color: white;
    text-align: center;
    font-style: italic;
    /* font-weight: 300; */
    font-size: 50px;
}


.blue-box .content p:nth-child(2) {
    color: white;
    text-align: center;
    font-style: italic;
    /* font-weight: 300; */
    font-size: 18px;
}

.blue-box .content p:nth-child(3) {
    color: white;
    text-align: center;
    font-style: italic;
    /* font-weight: 300; */
    font-size: 18px;
}